*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    border: 2px solid black;
    width: 100vw;
    height: 298px;
}
header::before{
    content: "";
    position: absolute;
    background: url(pic3.webp) no-repeat center center/cover;
    width: 100vw;
    height: 298px;
    z-index: -1;
    opacity: 0.9;
}
/* logo  */
.logo img{
    width: 249px;
    height: 172px;
    position: relative;
    bottom: 13px;
    left: 37rem;
    /* border-radius: 94px; */
    border-radius: 7rem;
}
/* Navbar */
.navdiv{
    display: flex;
    background-color: black;
    width: 100%;
}

.navdiv ul{
    margin-left: 2rem;
    display: flex;
    list-style: none;
    padding: 2px;
}
.navli{
    margin-left: 2rem;
    padding: 10px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}
#home:hover{
    color: black;
    background-color: #ffffff;
    box-shadow:  7px 4px 4px 3px #860c0c;
}
/* button */
.dtn:hover{
    box-shadow: 8px 4px 9px 1px #ffffff;
}
.dtn{
    background-color: black;
    padding: 10px;
    color: white;
    cursor: pointer;
}
/* dropdown part  */
.drop{
    display: none;
}
.drop2{
    display: none;
}
.drop ul{
    position: absolute;
    left: 152px;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.drop li{
    background-color: blue;
    margin: 1px;
    width: 70px;
}
.drop2 ul{
    position: absolute;
    left: 247px;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.drop2 li{
    background-color: blue;
    margin: 1px;
    width: 158px;
}

/* search bar  */
.searchbar{
    display: flex;
    position: absolute;
    right: 20rem;
    top: 188px;

}
#search_obj{
    width: 58rem;
    height: 2rem;
    border: 3px solid black;
    border-radius: 10px;
}
input[type=text] { 
    width: 30%; 
    -webkit-transition: width 0.15s ease-in-out; 
    transition: width 0.15s ease-in-out; 
 } 
 input[type=text]:focus { 
    width: 70%; 
  }
/* main hading  */
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration:double;
    margin: auto;
    width: 22rem;
    height: 30px;
}
.heading{
    background-color: chartreuse;
    height: 41px;
    margin-top: 3px;
    margin-left: 14.1px;
    margin-right: 14.1px;
}

/* body  */
.body{
    border: 2px solid black;
    margin-top: 3px;
    margin-left: 14.1px;
    margin-right: 14.1px;
    background-color: rgb(153, 255, 255);
}
.topic{
    padding: 15px;
}
h2{
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    background-color: aliceblue;
    width: 140px;
    padding-left: 10px;
    margin: 4px;
}
p img{
    margin-top: 1px;
    margin-bottom:20px ;
}